<h1> Create a new todo task </h1>

<% if @todo_task.errors.any? %>
	<div id="error_explanation">
		<h2>
			<%= pluralize(@todo_task.errors.count, "error") %> prohibited this todo task from being saved:
		</h2>
		<ul>
			<% @todo_task.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for([@project, @todo_task]) do |f| %>
	
	<div class="field">
		<%= f.label :task_name %><br />
		<%= f.text_field :task_name, required: true, placeholder: "Task name" %><br />
	</div>
	
	<div class="field">
		<%= f.label :task_description %><br />
		<%= f.text_field :task_description, required: true, placeholder: "Task description" %><br />
	</div>
	
	<div class="actions">
		<%= f.submit "Create todo task" %><br />
	</div>
<% end %>