<h1> Create a new project </h1>

<% if @project.errors.any? %>
	<div id="error_explanation">
		<h2>
			<%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:
		</h2>
		<ul>
			<% @project.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for(@project) do |f| %>
	
	<div class="field">
		<%= f.label :project_name %><br />
		<%= f.text_field :project_name, required: true, placeholder: "Project name" %><br />
	</div>
	
	<div class="field">
		<%= f.label :project_description %><br />
		<%= f.text_field :project_description, required: true, placeholder: "Project description" %><br />
	</div>
	
	<div class="actions">
		<%= f.submit "Create new project" %>
	</div>
<% end %>